<h2>Cursussen in de kijker</h2>
<article>
  <h3>Film-ensemble</h3>
  <p>Muziek is een essentieel onderdeel van de film. Het ondersteunt de beelden, vergroot de spanning en diept emoties verder uit. Kortom, het brengt de film tot leven.</p>
  <p>Alberto Iglesias - Gabriel Yared - Abel Korzeniowski - Hans Zimmer - ...</p>
  <p>Voor gevorderde leerlingen.</p>
  <p>Mogelijke instrumenten: Dwarsfluit, klarinet, cello, klassieke gitaar, viool, saxofoon.</p>
  <p>Zaterdag om 10u45.</p>
  <br>
  <h3>MAP-atelier</h3>
  <p>
    <a href="map.html">meer info...</a>
  </p>
  <br>
  <h3>Samenspel</h3>
  <p>Als je interesse hebt om te leren samenspelen, kan je dit altijd laten weten. Dan bekijken we samen in welke samenspelgroep je terecht kan. </p>
</article>
