
    <div class="row festival__wrap">
      <h2 class="festival">Opendeurdag</h2>
      <div class="festival__item--wrap">
        <!--
        <div class="festival__item line-through">
          <h3>Concertavond</h3>
          <p>vrijdag 5 mei (19.30 - 21 u.) Mijlstraatkerk</p>
          <p>Laat je onderdompelen in akoestische muziek met "Sterk Onversterkt".</p>
        </div>
        <div class="festival__item line-through">
          <h3>Festivaldag</h3>
          <p>zaterdag 6 mei (14 - 18 u.) De Kunstfabriek, Rietlei 103</p>
          <p>Proef van een sfeervolle namiddag met beeld, taal en muziek.</p>
        </div>
        <div class="festival__item">
          <h3>Instrumenten<wbr>voorstelling</h3>
          <p>Bespeel verschillende instrumenten en maak een praatje met de leerkrachten.</p>
          <p>donderdag 11 mei (17.30 - 18.30 u.) Sint-Martinuskerk, Kerkstraat 31</p>
        </div>-->
        <div class="festival__item">
          <h3>Zaterdag 1 juni 14u - 17u</h3>
          <p>Plaats: Lokalen en parking van de Kunstfabriek</p>
          <p>Info volgt nog.</p>
        </div>
      </div><!-- festival__item--wrap -->


    </div><!-- row -->

<!-- LET OP: "line-through" aanpassen bij hergebruik van deze include. -->
