    <footer class="footer-{{ page.title }}" onclick="this.classList.toggle('active-footer')">

        <div class="footer-wrap row">
          <nav class="footer-nav">
            <ul>
              <li><a href="/instrumenten">Instrumenten</a></li>
              <li><a href="/samenspel">Samenspel</a></li>
              <li><a href="/inopbouw.html">Muzieklab (voorheen notenleer)</a></li>
              <li><a href="/kunstlab.html">Kunstlab (voorheen muziekinitiatie)</a></li>
            </ul>
          </nav>
          <nav class="footer-nav">
            <ul>
              <li><a href="/inschrijvingen-original">Inschrijvingen</a></li>
              <li><a href="/beeldende-vorming.html">Beeldende Vorming</a></li>
              <li><a href="/talen.html">Talen</a></li>
              <li><a href="/posts.html">Laatste nieuws</a></li>
              {% include socials.html %}
            </ul>
          </nav>
            <div class="footer-row">
                <div class="footer-part">
                  <img src="/assets/img/duffel_logo_klein.png" alt="logo van de gemeente Duffel" class="logo-duffel">
                </div>
                <div class="footer-part">
                  <img src="/assets/img/DeKunstfabriek-logo-klein.png" alt="oude logo van de kunstfabriek" class="logo-dkf">
                </div>
            </div><!-- footer-row -->
          </div><!-- footer-wrap -->
            <div class="row">
                <div class="footer-contact">
                  <p>
                    <span>Rietlei 103, 2570 Duffel - </span>
                    <span>015 30 72 80 </span>
                  </p>
                  <p class="mail">
                    <span><a href="mailto:dekunstfabriek@duffel.be">dekunstfabriek@duffel.be</a></span>
                  </p>
                </div>
            </div>
    </footer>

    <script src="/assets/js/scripts.js"></script>
</body>
</html>
