
  <section id="header" class="header header--fixed">
     <div class="row header__row">
<!--
       <div class="header__item hamburger" onclick="myFunction(this)">
         <div class="bar1"></div>
         <div class="bar2"></div>
         <div class="bar3"></div>
       </div> -->

        <nav role="navigation" class="header__item hamburger">
         <div id="menuToggle">
           <input id="mobile-nav" type="checkbox" />
           <label for="mobile-nav">press checkbox to open mobile navigation</label>
           <span></span>
           <span></span>
           <span></span>

           <ul id="menu">
             {% for item in site.data.navigation %}
                    <li><a href="{{ item.link }}" {% if page.url == item.link %}class="active-link"{% endif %}>
                      {{ item.name }}
                    </a></li>
            {% endfor %}
           </ul>
         </div>
       </nav><!-- end HAMBURGER navigation -->

        <div class="header__item">
          <h1><a href="/index.html">de Kunstfabriek</a></h1>
        </div>
        <div class="header__item">
            <img src="/assets/img/fabriekje.svg" alt="fabriekje als logo van de kunstfabriek">
        </div>
     </div>
     <div class="row">
       <p>Gemeentelijke school voor Muziek, Beeldende Kunst en Talen</p>
     </div>
  </section>
