<h2>NIEUWE CURSUSSEN</h2>
<article>
  <h3>Musical-zang</h3>
  <p>Dit is een nieuw koor specifiek voor cursisten van 13 tot en met 24 jaar. Je leert er de basistechniek van zang en samenzang, en daarnaast ook dans en spel.</p>
  <br>
  <h3>Suzuki-initiatie</h3>
  <p>Vanaf 4 jaar ((°2020) kan je terecht voor Suzuki-initiatie, een lessenpakket voor ouder en kind. Ouder en kind volgen samen een groepsles van 30 minuten en het kind krijgt daarnaast ook nog 30 minuten individuele les. Je kan er meer over lezen in onze folder.</p>
  <br>
  <h3>Muzieklab+</h3>
  <p>De cursus muzieklab krijgt een uitbreiding met muzieklab+, voor diegenen die graag meer willen weten over harmonie, vierklanken, toonladders, enz. Deze uitbreiding is niet verplicht maar geeft je een theoretische ondersteuning om samen te leren spelen met andere muzikanten.</p>
  <br>
  <h3>Improvisatie</h3>
  <p>En als laatste hebben we nog de cursus improvisatie (muziek) waarbij er stapsgewijs wordt aangeleerd wat je mag gebruiken, hoe je dat doet en worden de technieken ingeoefend.  </p>
  <br>
</article>
