
/* ===============================
    FOOTER
==================================*/
footer {
  background-color: var(--c-s4);
  color: #fff;
    padding: 15px 0;
}
.footer-wrap {
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 1024px) {
    .footer-wrap {
      display: flex;
        flex-direction: row;
      justify-content: space-between;
    //    justify-content: flex-end;
    }
}

.footer-nav {
  min-width: 30%;
}
.footer-contact {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
}
.footer-contact p {
  font-size: 16px;
  border-top: 1px solid var(--c-1);
  border-bottom: 1px solid var(--c-1);
}
.footer-row {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
footer img {
  width: 40vw;
  max-width: 160px;
  padding-bottom: 5px;
  filter: brightness(1);
}
footer img.logo-dkf {
  max-width: 150px;
}
footer img.logo-duffel {
  max-width: 80px;
}
/* -----SOCIAL ICONS ----- */
footer a svg {
    color: var(--c-1);
}
footer a {
    margin-right: 15px;
    color: var(--c-1);
}
footer a:hover svg {
    color: var(--c-s1);
}
footer li {
    margin-left: -42px;
}