/* =============================
    NAVIGATION
===============================*/
.main-nav {
    position: fixed;
    top: .8em;
    left: -1.2em;
    z-index: 13;
}
.main-nav li {
    line-height: 1.24em;
}
.main-nav a {
    background-color: rgba(255,255,255,.9);
    border-radius: 0 12px 0 0;
    padding: 0 5px;
    font-size: 16px;
}
@media screen and (max-width: 1023px) {
    .main-nav {
        display: none;
    }
}
/* ===============================
    HAMBURGER
==================================*/
.hamburger {
  display: inline-block;
  cursor: pointer;
}
//.bar1, .bar2, .bar3 {
//  width: 30px;
//  height: 3px;
//  background-color: #fff;
//  margin: 8px 0 0;
//  transition: 0.4s;
//}
/* Rotate first bar */
//.change .bar1 {
//  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
//  transform: rotate(-45deg) translate(-9px, 6px) ;
//}
/* Fade out the second bar */
//.change .bar2 {
//  opacity: 0;
//}
/* Rotate last bar */
//.change .bar3 {
//  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
//  transform: rotate(45deg) translate(-8px, -8px) ;
//}
@media screen and (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
/* HAMBURGER pure css
======================= */
#menuToggle
{
  display: block;
  position: relative;
  top: 0;
  left: 0;

  z-index: 11;

  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: var(--c-1);
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: var(--c-4);
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 12; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}
#menuToggle label {
    position: absolute;
    left: -999px;
}
/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 11;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: var(--c-s4);
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-106%, 0);

  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* ===============================
    HEADROOM
==================================*/
.header--fixed {
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    top: 0
}
@media screen and (min-width: 1024px) {
    .header--fixed {
        position: relative;
    }
    body {
        top: 0;
    }
}
.headroom {
    transition: transform 300ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}